@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  overflow: hidden; /* Menyembunyikan overflow untuk membuat salju terlihat */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Menyembunyikan overflow untuk membuat salju terlihat */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

/* Animasi salju */
.snow {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/l89TBXL.png"), url("https://i.imgur.com/NGmG8Lw.png"), url("https://i.imgur.com/NGmG8Lw.png");
  background-size: 30px, 20px, 15px;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 800px, 300px 600px;
  }
}

.content {
  text-align: center;
  color: #333;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1; /* Meletakkan konten di atas efek salju */
}

h1, h2 {
  margin-top: 0;
}

.guest-name input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
}

.open-invitation {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-invitation:hover {
  background-color: #555;
}
.intro-animation {
    animation: fadeIn 2s ease forwards;
    padding: 0;
    margin: 0;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

